<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/profession/updateProfession.css">
    <title>Atualizar Profissão</title>
  </head>
  <body>
    <aside class="container-menu">
      <a href="../menu.html">
        <img src="../assets/logo_icon.svg" style="margin-bottom: 2rem" />
      </a>
      <ul class="navegacao">
        <li>
          <a href="" class="relatorio-button">Relatórios</a>
          <ul class="sub-menu-relatorios">
            <li>Sumarização</li>
            <li>Junção de Tabelas</li>
          </ul>
        </li>
        <li>
          <a href="" class="inserir-button">Inserir Registros</a>
          <ul class="sub-menu-inserir">
            <li><a href="insertProfession.html">Inserir Profissão</a></li>
            <li><a href="../users/insertUser.html">Inserir Usuário</a></li>
          </ul>
        </li>
        <li>
          <a href="" class="remove-button">Deletar Registros</a>
          <ul class="sub-menu-remover-registros">
            <li><a href="deleteProfession.html">Deletar Profissão</a></li>
            <li><a href="../users/deleteUser.html">Deletar Usuário</a></li>
          </ul>
        </li>
        <li>
          <a href="" class="atualizar-button">Atualizar Registros</a>
          <ul class="sub-menu-atualizar">
            <li><a href="updateProfession.html">Atualizar Profissão</a></li>
            <li><a href="../users/updateUser.html">Atualizar Usuário</a></li>
          </ul>
        </li>
        <li>
          <p class="relacionar-button">Relacionar</p>
          <ul class="sub-menu-relacionar">
            <li><a href="../userProfession/relacionarUserProfession.html">Realizar relacionamento</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="container-geral">
      <div class="form-container">
        <form class="form-pesquisar-profissao">
          <h1>Atualizar Profissao</h1>
          <div>
            <label for="id">ID da profissão</label>
            <input type="number" id="id" name="id" required/>
          </div>
          <button type="submit">Pesquisar Profissão</button>
        </form>
        <form class="form-atualizar-profissao">
          <div>
            <label for="description">Nome da profissão</label>
            <input type="text" id="description" name="description" disabled/>
          </div>
          <button type="submit">Atualizar Profissão</button>
        </form>
        <p
          class="responseUpdateProfession"
          style="color: blue; font-weight: bold;letter-spacing: 1px;grid-column: 1/-1; margin-top: 0.5rem"></p>
      </div>
      <table style="width:100%">
        <tr>
          <th>ID</th>
          <th>Profissão</th>
        </tr>
      </table>
    </div>
    <script src="../../scripts/profession/updateProfession.js"></script>
  </body>
</html>
