<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/menu/menu.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu de Opções</title>
  </head>
  <body>
    <aside class="container-menu">
      <a href="menu.html">
        <img src="./assets/logo_icon.svg" style="margin-bottom: 2rem" />
      </a>
      <ul class="navegacao">
        <li>
          <a href="" class="relatorio-button">Relatórios</a>
          <ul class="sub-menu-relatorios">
            <li>Sumarização</li>
            <li>Junção de Tabelas</li>
          </ul>
        </li>
        <li>
          <a href="" class="inserir-button">Inserir Registros</a>
          <ul class="sub-menu-inserir">
            <li><a href="./profession/insertProfession.html">Inserir Profissão</a></li>
            <li><a href="./users/insertUser.html">Inserir Usuário</a></li>
          </ul>
        </li>
        <li>
          <a href="" class="remove-button">Deletar Registros</a>
          <ul class="sub-menu-remover-registros">
            <li><a href="./profession/deleteProfession.html">Deletar Profissão</a></li>
            <li><a href="./users/deleteUser.html">Deletar Usuário</a></li>
          </ul>
        </li>
        <li>
          <a href="" class="atualizar-button">Atualizar Registros</a>
          <ul class="sub-menu-atualizar">
            <li><a href="./profession/updateProfession.html">Atualizar Profissão</a></li>
            <li><a href="./users/updateUser.html">Atualizar Usuário</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <h1 style="font-family: 'Berkshire Swash', cursive; text-align: center">Beauty Salon</h1>
    <main class="main-bg">
      <div class="container-main">
        <h2>Total de Registros existentes</h2>
        <table>
          <tr>
            <th>Usuários</th>
            <th>Profissões</th>
          </tr>
          <tr>
            <td data-usuarios="info"></td>
            <td data-profissoes="info"></td>
          </tr>
        </table>
        <div class="container-info">
          <div class="info-integrantes">
            <h3>Criado por: </h3>
            <p>Franz Blauth</p>
            <p>Mateus Paulo da Silva</p>
            <p>Julia Machado</p>
            <p>Heitor Assad</p>
            <p>Henrique Quintão</p>
            <p>Rafael Marques</p>
          </div>
          <div class="info-professor">
            <h3>Disciplina:</h3>
            <p>Banco de dados 2022/2</p>
            <p>Professor: Howard Roatti</p>
          </div>
        </div>
      </div>
    </main>
    <script src="../../scripts/users/searchUser.js"></script>
    <script src="../../scripts/profession/searchProfession.js"></script>
  </body>
</html>
