<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/users/deleteUser.css" />
    <title>Deletar Usuário</title>
  </head>
  <body>
    <aside class="container-menu">
      <a href="../menu.html">
        <img src="../assets/logo_icon.svg" style="margin-bottom: 2rem" />
      </a>
      <ul class="navegacao">
        <li>
          <a href="" class="relatorio-button">Relatórios</a>
          <ul class="sub-menu-relatorios">
            <li>Sumarização</li>
            <li>Junção de Tabelas</li>
          </ul>
        </li>
        <li>
          <a href="" class="inserir-button">Inserir Registros</a>
          <ul class="sub-menu-inserir">
            <li>
              <a href="../profession/insertProfession.html"
                >Inserir Profissão</a
              >
            </li>
            <li><a href="insertUser.html">Inserir Usuário</a></li>
          </ul>
        </li>
        <li>
          <a href="" class="remove-button">Deletar Registros</a>
          <ul class="sub-menu-remover-registros">
            <li>
              <a href="../profession/deleteProfession.html"
                >Deletar Profissão</a
              >
            </li>
            <li><a href="deleteUser.html">Deletar Usuário</a></li>
          </ul>
        </li>
        <li>
          <a href="" class="atualizar-button">Atualizar Registros</a>
          <ul class="sub-menu-atualizar">
            <li>
              <a href="../profession/updateProfession.html"
                >Atualizar Profissão</a
              >
            </li>
            <li><a href="updateUser.html">Atualizar Usuário</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="container-geral">
      <div class="form-container">
        <form class="form-deletar-usuario">
          <h1
            style="
              color: green;
              font-size: 1.5rem;
              margin-bottom: 20px;
              text-align: center;
            "
          >
            Deletar Usuário
          </h1>
          <div class="campo-deletar">
            <label for="id">Digite o número do usuário</label>
            <input
              type="number"
              id="id"
              name="id"
              placeholder="Número do usuário"
              required
            />
          </div>
          <p
            class="responseDeleteUser"
            style="
              color: blue;
              font-weight: bold;
              letter-spacing: 1px;
              grid-column: 1/-1;
            "
          ></p>
          <button type="submit">Deletar Usuário</button>
        </form>
      </div>
    </div>
    <script src="../../scripts/users/deleteUser.js"></script>
  </body>
</html>
