<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/users/updateUser.css" />
    <title>Atualizar Usuário</title>
  </head>
  <body>
    <aside class="container-menu">
      <a href="../menu.html">
        <img src="../assets/logo_icon.svg" style="margin-bottom: 2rem" />
      </a>
      <ul class="navegacao">
        <li>
          <a href="" class="relatorio-button">Relatórios</a>
          <ul class="sub-menu-relatorios">
            <li>Sumarização</li>
            <li>Junção de Tabelas</li>
          </ul>
        </li>
        <li>
          <a href="" class="inserir-button">Inserir Registros</a>
          <ul class="sub-menu-inserir">
            <li>
              <a href="../profession/insertProfession.html"
                >Inserir Profissão</a
              >
            </li>
            <li><a href="insertUser.html">Inserir Usuário</a></li>
          </ul>
        </li>
        <li>
          <a href="" class="remove-button">Deletar Registros</a>
          <ul class="sub-menu-remover-registros">
            <li>
              <a href="../profession/deleteProfession.html"
                >Deletar Profissão</a
              >
            </li>
            <li><a href="deleteUser.html">Deletar Usuário</a></li>
          </ul>
        </li>
        <li>
          <a href="" class="atualizar-button">Atualizar Registros</a>
          <ul class="sub-menu-atualizar">
            <li>
              <a href="../profession/updateProfession.html"
                >Atualizar Profissão</a
              >
            </li>
            <li><a href="updateUser.html">Atualizar Usuário</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="container-geral">
      <div class="form-container">
        <form class="form-pesquisar-usuario">
          <h1
            style="
              color: green;
              font-size: 1.5rem;
              margin-bottom: 20px;
              text-align: center;
              margin-top: 20px;
              grid-column: 1 / -1;
            "
          >
            Atualizar Usuário
          </h1>
          <div>
            <label for="id">ID</label>
            <input type="text" id="id" name="id" required />
          </div>
          <button type="submit">Pesquisar usuário</button>
        </form>
        <form class="form-atualizar-usuario">
          <div>
            <label for="name">Nome do Usuário</label>
            <input type="text" id="name" name="name" required disabled/>
          </div>

          <div>
            <label for="email">Email do usuário</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="seuemail@email.com"
              required
              disabled
            />
          </div>

          <div>
            <label for="descriptionAccess">Senha do usuário</label>
            <input
              type="password"
              id="descriptionAccess"
              name="descriptionAccess"
              placeholder="********"
              required
              disabled
            />
          </div>

          <div>
            <label for="phone">Número de telefone do usuário</label>
            <input
              type="text"
              id="phone"
              name="phone"
              placeholder="(DDD) 00000-0000"
              required
              disabled
            />
          </div>

          <div>
            <label for="zipCode">CEP</label>
            <input
              type="text"
              id="zipCode"
              name="zipCode"
              placeholder="00000-000"
              required
              disabled
            />
          </div>

          <div>
            <label for="numberHome">Número da Casa</label>
            <input
              type="number"
              id="numberHome"
              name="numberHome"
              placeholder="000"
              required
              disabled
            />
          </div>

          <div>
            <label for="complement">Complemento</label>
            <input type="text" id="complement" name="complement" required
            disabled />
          </div>
          <button>Atualizar Usuário</button>
        </form>
        <p
          class="responseUpdateUser"
          style="color: blue; font-weight: bold;letter-spacing: 1px;grid-column: 1/-1;"></p>
      </div>
    </div>
    <script src="../../scripts/users/updateUser.js"></script>
  </body>
</html>
